body {
    margin: 0px;
}

#logo {
    width:100px;
    height:100px;
    margin:auto;
    margin-top:50px;
    transition: all 1s ease-in-out;
    perspective: 800px;
    perspective-origin: 50% 100px;
    border: 1px solid #444444;
    border-radius: 5px;
}

#logo:hover {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    cursor:pointer;
}

#status {
    width:300px;
    height:25px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background: #BBAE93;
    border: 1px solid #333333;
    border-radius: 3px;
}

progress.assetProgress {
    width: 150px;
    height: 18px;
    display: block;
}

.centered {
    width: 150px;
    height: 90px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    background: #BBAE93;
    border: 1px solid black;
    border-radius: 5px;
}

#scene {
    width: 741px;
    height: 360px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    background: #BBAE93;
    border: 1px solid black;
    border-radius: 5px;
}
